/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header */

header{
    background-color:#2D25A0;
    ;
    
}
h1{
    color: white;
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
}
.top-section{
    display: flex;

}
.header-info{
    width: 45%;
   margin-top: 100px;
   margin-left: 100px;
   margin-bottom: 50px; 
}
.top-section img{
    Width: 556.01px;
    Height: 438px;
    
}
.top-section img:hover{
    transform: rotate(30deg);
    transition: 2s ease-in-out;
}
.top-section a{
    color: white;
    text-decoration: none;
    background-color:#E02C6D ;
    padding: 10px 24px;
    border-radius: 10px;
}
.icon{
    margin-left: 10px;
}

/* main-player-section */

.container{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.players{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;     
}
h3{
    font-size: 28px;
    font-weight: 700;
}

.player{
    width: 300px;
    height: 474px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.thumbnail img{
    width: 300px;
    height: 256px;
    border-radius: 10px;
}

/* match highlights-video */
h2{
    font-size: 30px;
    text-align: center;
}
.highlights{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}



/* footer-section-style */
.footer-section{
    justify-content: center;
    margin-bottom: 100px;
}
.footer-img{
    margin-left: 30%;
    justify-content: space-evenly;
}
.fab{
    margin-left: 15px;
}
.footer-detail{
    text-align: center;
}